<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Log in with your account</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link href="/css/main.css" rel="stylesheet">
</head>

<body>
<div class="container">
	<form class="form-signin" method="POST" th:action="@{/login}">
		<h2 class="form-heading">Log in</h2>

		<div class="form-group">
			<span th:text="${message}"></span>
			<p>

			<label>Username</label>
			<input name="username" type="text" class="form-control" placeholder="Username"
				   autofocus="true"/>
			</p>

			<p>
			<label>Password</label>
			<input name="password" type="password" class="form-control" placeholder="Password"/>
			</p>
			<span class="has-error" th:text="${error}"></span>

			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
			<h4 class="text-center"><a href="/registration">Create an account</a></h4>
		</div>
	</form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<!--<script src="/js/main.js"></script>-->
</body>
</html>