<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Database</title>
</head>
<body>
<div class = "panel">
    <h2> User Database </h2>
            <ul>
                <li th:each="user : ${Users}" th:text="${user}">Product details[offline]</li>
            </ul>
</div>

<div class = "panel">
    <h3> Insert new user </h3>
    <form action ="#"  th:action="@{/admin-console/add}" th:object="${createUser}" method="POST">

        <p>
            <label>Username</label>
            <input type="text" th:field="*{username}">
        </p>

        <p>
            <label>Name</label>
            <input type="text" th:field="*{name}">
        </p>

        <p>
            <label>Email</label>
            <input type="text" th:field="*{email}">
        </p>

        <p>
            <label>Password</label>
            <input type="password" th:field="*{password}">
        </p>

        <p>
            <button type="submit" name="admin-action" value="insert">Insert</button>
        </p>
    </form>
</div>

<div class = "panel">
    <h3> Update user </h3>
    <form action ="#"  th:action="@{/admin-console/update}" th:object="${updateUser}" method="POST">

        <p>
            <label> ID </label>
            <select name="customer_ID">
                <option th:each="id: ${userIDs}"
                        th:value="${id}"
                        th:text="${id}"></option>
            </select>
        </p>

        <p>
            <label>Username</label>
            <input type="text" th:field="*{username}">
        </p>

        <p>
            <label>Email</label>
            <input type="text" th:field="*{email}">
        </p>

        <p>
            <button type="submit" name="admin-action" value="update">Update</button>
        </p>
    </form>
</div>

<div class = "panel">
    <h3> Delete User </h3>
    <form action ="#"  th:action="@{/admin-console/delete}" method="POST">

        <p>
            <label> ID </label>
            <select name="delete_ID">
                <option th:each="id: ${userIDs}"
                        th:value="${id}"
                        th:text="${id}"></option>
            </select>
        </p>
        <p>
            <button type="submit" name="admin-action" value="delete">Delete</button>
        </p>
    </form>
</div>

</body>
</html>